.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 25px 0 15px 0;
}

body {
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.logo-title {
  margin: 0 25px 0 25px;
  color: white;
  text-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
}
.searchbox {
  margin-left: auto;
  margin-right: 25px;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
}
.searchbox-input {
  padding: 9px;
  width: 345px;
  
}

.card {
  width: 345px;
  height: 400px;
  padding: 19px 24px 19px 24px;
  margin: 15px;
  background: white;
  box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .2 );
}

.pic-container {
  margin: auto;
  margin-bottom: 1rem;
  width: 100%;
  height: 60%;
  border: 1px solid #e6e8ea;
  background-color: #f2f3f5;
}

.pic {
  width: auto;
  height: 100%
}

.title-and-author {
  display: flex;
  align-items: center;
  width: 100%;
}

.title {
  font-size: 16px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 30ch;
  text-overflow: ellipsis;
}

.author {
  white-space: nowrap;
  overflow: hidden;
  max-width: 30ch;
  text-overflow: ellipsis;
}

.description-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;
  max-height: 32px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: left;
}

.zero-bottom-margin {
  margin-bottom: 0;
}

@media only screen and (max-width: 692px) {
  .flex-row  {
    justify-content: space-evenly; 
    margin-bottom: 15px;
  }
  .searchbox {
    margin:  0 25px 0 25px;;
  }
  .logo-title {
    margin: 0 25px 15px 25px;
  }
}